<div ng-controller="ViewWordCtrl as ctrl">
    <form>
        <h1>Add Word:</h1>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="word">Word:</label>
            </div>
            <div class="col-md-9">
                <select class="form-control" id="word" type="text" ng-model="ctrl.wordtranslation.idWord">
                    <option ng-repeat="word in ctrl.word" value="{{word.id}}">{{word.original}}</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="translator">Translation:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="translator" type="text" ng-model="ctrl.wordtranslation.translation"></input>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="language">Language:</label>
            </div>
            <div class="col-md-9">
                <select class="form-control col-md-12" id="language" ng-model="ctrl.wordtranslation.languageId">
                    <option ng-repeat="language in ctrl.languages" value="{{language.id}}">{{language.name}}</option>
                    <!--<option value="english">English</option>-->
                    <!--<option value="german">German</option>-->


                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Save">
            </div>
        </div>
    </form>
</div>
