<div ng-controller="viewRandomWordCtrl as ctrl">
    <form>
        <h1>Random Word:</h1>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="randomWord">Random Word:</label>
            </div>
            <div class="col-md-9">
                <input class="form-control" id="randomWord" type="text" ng-model="ctrl.word"></input>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="language">Language:</label>
            </div>
            <div class="col-md-9">
                <select class="form-control col-md-12" id="language" ng-model="ctrl.wordtranslation.languageId">
                    <option ng-repeat="language in ctrl.languages" value="{{language.id}}">{{language.name}}</option>
                </select>
                </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Random">
            </div>
        </div>
    </form>
</div>
