<div ng-controller="viewLoginCtrl as ctrl">
    <form>
        <h1>Log</h1>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="login">Login:</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" id="login" type="text" ng-model="ctrl.formUser.login"></input>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="password">Password:</label>
            </div>
            <div class="col-md-6">
                <input class="form-control col-md-12" id="password" type="password" ng-model="ctrl.formUser.password">

                </input>
                </div>

        </div>
<div class="row form-group">
    <div class="col-md-6"></div>
    <div class="col-md-3">
        <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Log in">
    </div>
</div>
</div>
<div class="row form-group">
    <div class="col-md-6"></div>
    <div class="col-md-3">
        <input class="form-control" type="button" ng-click="ctrl.sendToBackend()" value="Log out">
    </div>
</div>
    </form>
</div>
